<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>과제테스트_한서현</title>
    <meta charset="UTF-8">
    <!--jquery-->
    <script th:src="@{/js/jquery-3.3.1.min.js}" type="text/javascript" text="javascript"></script>
    <script th:src="@{/js/jquery-ui.min.js}" type="text/javascript" text="javascript"></script>

    <!--css-->
    <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body>
<div class="content-wrapper" style="margin: 80px;">
    <hr>
    <div class="content-top">
        <div class="title-div"><h1>◎ 파일 확장자 차단</h1></div>
        <hr style="border-style: solid;border-width: 0.1em;">
    </div>
    <div class="content-body">
        <h2>파일확장자에 따라 특정 형식의 파일을 첨부하거나 전송하지 못하도록 제한</h2>
        <div class="fix-extension-div">
            <div class="label">고정확장자</div>
            <!--replaceWith-->
            <div class="fix-list-div" id ="fix-list">
                <div class="fixex-each-div" th:each="fix : ${fixList}">
                    <label><input type="checkbox" th:value="${fix.getId()}" th:text="${fix.getName()}"
                                  th:checked="${fix.isChecked()}" class="checkbox-list"></label>
                </div>
            </div>
            <!--replaceWith-->
        </div>
        <div class="custom-extension-div">
            <div class="label">커스텀 확장자</div>
            <div class="about-custom-div">
                <div class="about-custom-input">
                    <input type="text" placeholder="확장자 입력" id="custom-extension-input"
                           name="custom-extension-input">
                    <button type="submit" id="submitBtn">+ 추가</button> <span id="exist-alert-span"></span>
                </div>
                <div class="about-custom-list">
                    <div class="custom-list-div">
                        <!--replaceWith-->
                        <div id="custom-list">
                            <div class="custom-total" th:text="${total}+'/200'"></div>
                            <th:block th:each="custom : ${customList}">
                                <div class="custom-each-div">
                                    <span th:text="${custom.getName()}" th:value="${custom.getId()}"></span>
                                    <a th:href="@{'/extension/custom/delete/'+${custom.getId()}}" id='delBtn' th:onclick ="return confirm('삭제하시겠습니까 ?');" style="color: black;">
                                        <i class="fa-solid fa-x"></i></a>
                                </div>
                            </th:block>
                        </div>
                        <!--replaceWith-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://kit.fontawesome.com/d4af3bb512.js" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</html>